<!DOCTYPE html>
<html lang="en">

    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Site Metas -->
    <title>Temilade Dauda - Portfolio</title>
    <meta name="keywords" content="frontend, backend, react, ui/ux, python, react, js, developer, software, designer">
    <meta name="description" content="Portfolio">
    <meta name="author" content="Dauda Temilade">
    
    <!-- Site Icons -->
    <link rel="shortcut icon" href="../static/images/dts1.png" type="image/x-icon" />
    <link rel="apple-touch-icon" href="../static/images/apple-touch-icon.png">
        <!-- All core CSS -->
    <link href="../static/css/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="../static/css/style.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.../static/js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

    <div id="wrapper">
        <div class="sidewrapper sidenav">
            <div class="text-right"><a href="#" id="nav-close"><i class="flaticon-multiply"></i></a></div>
            <div class="widget">
                <div class="widget-title-sidebar">
                    <h3></h3>
                </div><!-- end widget-title -->

                <div class="instagram-widget text-center">
                    <p></p>                
                </div>
            </div><!-- end widget -->

            <div class="footer-copy text-center">
                <p></p>
            </div><!-- end copy -->
        </div><!-- end sidewrapper -->

        <header class="sticky header transparent-header">
            <div class="container">
                <nav class="navbar navbar-toggleable-md navbar-inverse yamm" id="slide-nav">
                    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTopMenu" aria-controls="navbarTopMenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <a class="navbar-brand" href="#"><u>Temilade Dauda</u> || </a>
                    <div class="nav-links collapse navbar-collapse" id="navbarTopMenu">
                        <ul class="navbar-nav mr-auto mt-2 mt-md-0">
                            <li><a class="nav-link" href="#hello">Intro</a></li>
                            <li><a class="nav-link" href="#about">About Me</a></li>
                            <li><a class="nav-link" href="#project">Projects</a></li>
                            <li><a class="nav-link" href="#testimonial">Testimonials</a></li>
                        </ul>
                        <div class="nav navbar-nav ml-auto hidden-md-down hidden-sm-down hidden-xs-down">
                            <div class="head-social">
                                <a href="https://wa.me/message/BUPMLODTS3ZXM1" title="WhatsAppp" target="_blank"><i class="fa fa-whatsapp"></i></a>
                                <a href="https://www.linkedin.com/in/temilade-dauda" title="Linkedin" target="_blank"><i class="fa fa-linkedin"></i></a>
                                <a href="https://github.com/dtemilade" title="GitHub" target="_blank"><i class="fa fa-github"></i></a>
                                <a href="https://www.facebook.com/Temmy4realboyz" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                    </div>
                </nav>
            </div><!--/.container inside nav-->
        </header>

        <section class="hero">
            <div class="magnifier grd3"></div>
            <div class="container">
                <div class="hero-desc">
                    <div class="row">
                        <div class="col-md-12 logo">
                            <h4 id="hello"><mark>Hello, I'm</mark></h4>
                            <img src="../static/images/temi.jpeg" alt="profile">
                            <h2>Temilade DAUDA</h2>
                            <p id="brief"> <mark>A Full Stack Web Developer with knowledge of Python, React, HTML/CSS/JS, and DevOps; My goal is to build user friendly and efficient websites with scalable backend systems that drive organizational success.!</mark></p>
                            <a href="https://wa.me/message/BUPMLODTS3ZXM1" title="WhatsAppp" class="btn btn-light"><i class="fa fa-star"></i> Chat</a> <a href="mailto:dtemilade@gmail.com" title="Send Mail" class="btn btn-light"><i class="fa fa-envelope-open-o"></i> Hire Me</a> <a href="../static/pdf/Temilade_CV.pdf" title="Download" class="btn btn-light" download="Temilade_CV"><i class="fa fa-star"></i> MyCV</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="#about" class="bottom-button"><i class="flaticon-mouse">Next</i></a>
        </section><!-- end section -->

        <section id="about" class="section lb">
            <div class="container">
                <div class="section-title text-center widget">
                    <h4>About me</h4>
                    <h2>Full-Stack - <a href="#about"><img src="../static/images/temi2.png" alt=""> - Web Dev.</h2>
                </div><!-- end section-title -->

                <div class="row">
                    <div class="col-md-4">
                        <div class="about-style-01">
                            <div class="about-desc-01">
                                <p id="starts">I am Temilade Dauda, a passionate and dedicated software developer with a solid foundation in Computer Science and a growing track record of professional achievements in the tech industry. My academic journey began at <strong>Lagos State Polytechnic, Ikorodu, Lagos</strong>, where I earned both my <strong>National Diploma (ND)</strong> and <strong>Higher National Diploma (HND)</strong> in <strong>Computer Science</strong>. </p>
                                <p>To improve my skills, I also completed a Software Engineering (Backend) program with ALX Africa, learning advanced coding, backend development, databases, and software architecture.</p>
                            </div>
                        </div><!-- end about-style-01 -->
                    </div><!-- end col -->

                    <div class="col-md-4 mobmar30">
                        <div class="about-style-01">
                            <div class="about-desc-01">
                                <p>In addition to my software engineering training, I hold an <strong>International Certification as an Adobe Certified Professional (ACP) in Web Authoring using Dreamweaver</strong>. This credential validates my expertise in web design, user interface development, responsive web layouts, and standards-based web authoring, enhancing my versatility as a developer.</p>
                                <p>Alongside my academic pursuits, I am a proficient minstrel and hold a deep devotion to spiritual matters. Additionally, I dedicate my time as a volunteer contributor to the annual devotional book "Food for the Journey," where I actively participate in its creation and dissemination.</p>
                            </div>
                        </div><!-- end about-style-01 -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="about-style-01">
                            <div class="about-desc-01">
                                <p>Over time, I’ve worked on different projects and other web-based tools. I am not only committed to writing clean and efficient code but also to continuous learning and staying current with industry best practices. I enjoy solving problems,  helping create useful technology and working in environments that encourage growth and creativity.</p>
                                <p>Beyond technical skills, I bring strong communication, project management, and leadership qualities, cultivated through professional experience and volunteer work. I am driven by excellence, integrity, and a desire to create solutions that make a positive impact.</p>
                            </div>
                        </div><!-- end about-style-01 -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
            <a href="#hello" class="bottom-button2"><i class="flaticon-mouse">Previous</i></a>
            <a href="#project" class="bottom-button"><i class="flaticon-mouse">Next</i></a>
        </section><!-- end section -->

        <section id="project" class="section">
            <div class="container">
                <div class="section-title text-center">
                    <h4>Projects</h4>
                </div><!-- end section-title -->

                <div class="row align-items-center">
                    <div class="col-md-4">
                        <div class="about-box ">
                            <video class="img-fluid" controls>
                                <source src="../static/media/nhb.webm" />
                            </video>
                            <h4>NewsHub <a href="https://github.com/dtemilade/newshub" title="GitHub" target="_blank"><i class="fa fa-github"></i></a></h4>
                          <p><strong>Project Overview:</strong> "A news aggregation platform providing users with simplified access to news articles from various online sources."</p>
                            <ul>
                              <li><strong>Technologies Used:</strong> <br />
                                <em>Frontend:</em> HTML, CSS, JavaScript<br />
                                <em>Backend:</em> Flask API <br />
                                  <em>API Integration:</em> Render <br /><em>Deployment:</em> Render</li>
                              <li><strong>Features: </strong><br />
                                Real-time news fetching<br />
                                Category-based filtering<br />
                                Search functionality</li>
                              <li><em> Challenges</em> - Handling <strong data-start="1721" data-end="1740">API integration</strong> and data manipulation for multiple news sources.<br />
                                <br />
                              <em>Lesson</em> - Practical experience with <strong data-start="1953" data-end="1972">API consumption</strong> and <strong data-start="1977" data-end="2000">JSON data rendering</strong></li>
                          </ul>

                            <a href="https://newshub-xbjs.onrender.com/" target="_blank" class="btn btn-primary btn-sm withradius secbtn withicon">Visit Site </a>
                        </div><!-- end box -->
                    </div><!-- end col -->

                    <div class="col-md-4">
                        <div class="about-box">
                            <video class="img-fluid" controls>
                                <source src="../static/media/alm.webm" />
                            </video>
                            <h4>Assessment <a href="https://github.com/dtemilade/Assessments_WebAuthouring_MacTayLASG" title="GitHub Repo" target="_blank"><i class="fa fa-github"></i></a></h4>
                          <p><strong>Project Overview:</strong> "An interactive web-based assessment tool designed for educational and professional testing environments."</p>
                            <ul>
                              <li><strong>Technologies Used:</strong> <br />
                                <em>Frontend:</em> HTML, CSS, JavaScript<br />
                                <br />
                               <em>Backend:</em> Flask API<br />
                                <br /></li>
                              <li><em>Deployment:</em> Render</li>
                              <li><strong>Features: </strong><br />
                                Dynamic question rendering<br />
                                Mark for review &amp; navigation functionality<br />
                                Basic scoring logic</li>
                              <li><em> Challenges</em> - Structuring question display dynamically with navigation controls<br />
                                <br />
                                <em>Lesson</em> - Managing <strong data-start="809" data-end="818">state</strong> in web applications without external libraries</li>
                            </ul>

                            <a href="https://assessment-7w68.onrender.com/" target="_blank" class="btn btn-primary btn-sm withradius secbtn withicon">Visit site </a>
                        </div><!-- end box -->
                    </div><!-- end col -->

                    <div class="col-md-4 mobmar30">
                        <div class="about-box">
                            <video class="img-fluid" controls>
                                <source src="../static/media/h2h.webm" />
                            </video>
                            <h4>Heart2Help <a href="https://github.com/poshtrigghaz/heart2help" title="GitHub Repo" target="_blank"><i class="fa fa-github"></i></a></h4>
                          <p><strong>Project Overview:</strong> "A community support platform built to connect volunteers with people in need, fostering meaningful assistance and collaboration."</p>

                            <ul>
                                <li><strong>Technologies Used:</strong> <br />
                              <em>Frontend:</em> React.js, Tailwind CSS<br /><br /><em>Deployment:</em> Vercel</li>
                              <li><strong>Features: </strong><br />
                                  Clean, user-friendly interface<br /> 
                              Emphasis on social impact <br />Scalable component-based structure</li>
                                <li><em> Challenges</em> - Structuring components and managing application state in <strong data-start="2926" data-end="2935">React</strong><br />
<br />
                                 <em>Lesson</em> - Advanced use of <strong data-start="3044" data-end="3076">React component architecture</strong></li>
                            </ul>

                            <a href="https://heart2help-zdnx.vercel.app/" target="_blank" class="btn btn-primary btn-sm withradius secbtn withicon">Visit site </a>
                        </div><!-- end box -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div>
            <a href="#about" class="bottom-button2"><i class="flaticon-mouse">Previous</i></a><a href="#testimonial" class="bottom-button"><i class="flaticon-mouse">Next</i></a><!-- end container -->
        </section><!-- end section -->
      
        <section class="section lb">
            <div class="container">
                <div id="testimonial" class="section-title text-center">
                    <h4>Testimonials</h4>
                    <h2>What Other's Say About Temilade</h2>
                </div><!-- end section-title -->

                <div class="row">
                    <div class="col-md-10 offset-md-1">
                        <div id="testimonial_01" class="owl-carousel owl-theme owl-style-01">
                            <div class="testi-style-01 clearfix" title="Swipe">    
                                <img src="../static/images/test1.jpg" alt="" class="img-fluid rounded-circle float-left">
                                <h4>Aishat Abdulsalam <small><a href="https://www.linkedin.com/in/aishat-abdulsalam-04432916b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app"><i class="fa fa-link"></i></a></small></h4>
                                <p>I've had the pleasure of working with Temilade Dauda on several web development projects, and I'm always blown away by his skills and dedication. He has a deep understanding of full stack development, and his ability to design and implement scalable, user-friendly solutions is truly impressive. If you're looking for a reliable and talented full stack developer, look no further.</p>
                            </div>
                            <div class="testi-style-01 clearfix"> <img src="../static/images/test2.jpg" alt="" class="img-fluid rounded-circle float-left">
                              <h4>Adewumi Amusa <small><a href="mailto:amusaadewunmi160@gmail.com"><i class="fa fa-link"></i></a></small></h4>
                              <p>Temilade is not just a developer; he is a builder of people. What sets him apart even more is his passion for teaching and sharing knowledge. He has a unique ability to break down complex technical concepts into simple, digestible lessons that are easy to understand, regardless of one’s background. His mentorship has empowered many aspiring developers to grow in confidence and skill. If you are looking for someone who excels in full-stack development and is also committed to helping others succeed, I wholeheartedly recommend Temilade.</p>
                            </div>
                          <div class="testi-style-01 clearfix"> <img src="../static/images/test3.jpg" alt="" class="img-fluid rounded-circle float-left">
                              <h4>Adeyemo Isiaq <small><a href=""><i class="fa fa-link"></i></a></small></h4>
                              <p>Working with Temilade gives your organization a real advantage. His skills and intelligence in building websites can help your business stand out and grow stronger. He knows how to create websites that are not only beautiful but also easy for customers to use. With his support, your business can rise to the top of your industry and reach a wider audience across the world.</p>
                            </div>
                          <div class="testi-style-01 clearfix"> <img src="../static/images/test4.jpg" alt="" class="img-fluid rounded-circle float-left">
                              <h4>Kofoworola Ajose <small><a href="ajosekofoworola01@gmail.com"><i class="fa fa-link"></i></a></small></h4>
                              <p>Knowing Mr Temilade has been a true privilege. his character shines through in every interaction. He is one of the kindest souls I’ve ever met,always willing to lend a hand, offer support, and lift others up. His dedication, humility, and generosity make it clear that any team or project would be incredibly lucky to have him. He’s simply one of the best out there.</p>
                            </div>
                            
                            <div class="testi-style-01 clearfix"> <img src="../static/images/temi3.png" alt="" class="img-fluid rounded-circle float-left">
                              <h4>The Righteous One <small>Exodus 31:3<a href="#testimonial"><i class="fa fa-link"></i></a></small></h4>
                              <p>I have filled him with my Spirit so that he has special skills. He knows how to make many kinds of things.</p>
                            </div>
<!-- end testimonial -->

                            <div class="testi-style-01 clearfix">    
                                <img src="../static/images/temi2.png" alt="" class="img-fluid rounded-circle float-left">
                                <h4>Holy One <small>Psalm 91:14-16<a href="#testimonial"><i class="fa fa-link"></i></a></small></h4>
                                <p>For the Lord says, “Because he loves me, I will rescue him; I will make him great because he trusts in my name.  When he calls on me, I will answer; I will be with him in trouble and rescue him and honor him.  I will satisfy him with a full life[b] and give him my salvation.”!</p>
                            </div><!-- end testimonial -->

                        </div><!-- end owl -->
                    </div><!-- end col -->
                </div>
                <!-- end row -->
            </div><!-- end container -->
            <a href="#project" class="bottom-button2"><i class="flaticon-mouse">Previous</i></a><a href="#footer" class="bottom-button"><i class="flaticon-mouse">Next</i></a>
        </section><!-- end section -->


        <footer class="footer section">
            <div id="footer" class="container"> 
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <a href="#" title=""><img src="../static/images/temi.jpeg" class="footer-logo" alt=""></a>
                            <h4 class="widget-title">
                                Temilade
                            </h4>
                            <div class="about-widget">
                                <p>a tech whiz with a heart for service!</p>
                            </div><!-- end about-widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                    <div class="col-md-8 mobmartop30">
                        <div class="widget">
                            <div class="footer-links">
                                <nav class="foot-link">
                                    <ul>
                                        <li><a href="#hello">Home</a></li>
                                        <li><a href="#about">About</a></li>
                                        <li><a href="#project">Projects</a></li>
                                        <li><a href="mailto:dtemilade@gmail.com" title="Send Mail" class="btn btn-light"><i class="fa fa-envelope-open-o"></i> Hire Me</a></li>
                                        <li><a href="../static/pdf/Temilade_CV.pdf" title="Download" class="btn btn-light" download="Temilade_CV"><i class="fa fa-star"></i> MyCV</a></li>
                                    </ul>
                                </nav><!-- end foot -->
                            </div><!-- end links -->

                            <div class="widget">
                                <div class="contact-widget">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <h4 class="widget-title">
                                                <i class="fa fa-map-marker"></i> Location
                                            </h4>  
                                            <p>Lagos, Nigeria </p>
                                        </div><!-- end col -->

                                        <div class="col-md-4">
                                            <h4 class="widget-title">
                                                <i class="fa fa-phone"></i> Phone
                                            </h4>  
                                            <p>+234(91) 6444 1596</p>
                                        </div><!-- end col -->

                                        <div class="col-md-4">
                                            <h4 class="widget-title">
                                                <i class="fa fa-envelope-open-o"></i>  Email
                                            </h4>  
                                            <p>dtemilade@gmail.com</p>
                                        </div><!-- end col -->
                                    </div><!-- end row -->
                                </div><!-- end contact-widget -->
                            </div><!-- end widget -->
                        </div><!-- end widget -->
                    </div><!-- end col -->
                </div><!-- end row -->

                <div class="row">
                    <div class="col-md-12 text-center">
                        <div class="footer-social">
                            <div itemscope="" itemtype="http://schema.org/Organization">
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://wa.me/message/BUPMLODTS3ZXM1"><i class="fa fa-whatsapp"></i></a>
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://www.linkedin.com/in/temilade-dauda/"><i class="fa fa-linkedin"></i></a>
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://github.com/dtemilade"><i class="fa fa-github"></i></a>
                                <a class="social-icon" target="_blank" itemprop="sameAs" href="https://www.facebook.com/Temmy4realboyz"><i class="fa fa-facebook"></i></a>
                            </div>
                        </div>
                        <div class="footer-copy">
                          <p>© 2025 All Rights Reserved</p>
                        </div><!-- end copy -->
                    </div><!-- end col -->
                </div><!-- end row -->
            </div><!-- end container -->
        </footer><!-- end footer -->
    </div><!-- end wrapper -->

    <div class="dmtop"><i class="fa fa-long-arrow-up"></i></div>

    <!-- Core JavaScript
    ================================================== -->
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/all.js"></script>
    <script src="../static/js/custom.js"></script>

</body>
</html>